body {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
}
